%h1 Edit member
.form
  = error_messages_for :member
  - form_for :member, :url => member_path, :html => { :method => :put }  do |f|
    %table
      = render :partial => "form", :locals => {:f => f}
      %tr
        %th &nbsp;
        %td
          = submit_tag 'Update'
          or
          = link_to 'Cancel', members_path