- body_classes << "reversed"

%h1 Import members from CSV

%p.note The imported users will not be active. You will have to manually activate them by using the 'activate' action.
.member_form
  - form_for :member, :url => import_from_csv_members_path, :html => {:multipart => true} do
    %table.form
      %tr
        %td
          %label{:for => 'file_csv'} Choose a CSV file:
      %tr
        %td
          = file_field 'file', 'csv'
      %tr
        %td
          = submit_tag 'Import data'
          or
          = link_to 'Cancel', members_path