- body_classes << "reversed"

%h1 Add member

%p.note If you leave the password field empty the user will not be activated. You will need to manually activate him.
.member_form
  - form_for :member, :url => members_path do |f|
    %table.form
      = render :partial => "form", :locals => {:f => f, :submit_label => "Sign up"}
