<h1>Reset Password!</h1>
<p>
  Are you sure you want to reset <%= @member.name %>'s password? This action will create a new password for the member which will be sent via the supplied email.
</p>
<p>
<table>
  <tr></tr>
  <tr>
    <td><%= button_to "Yes", send_email_path(@member.id) %></td>
    <td>or <%= link_to "Cancel", members_path %></td>
  </tr>
</table>
</p>