- body_classes << "reversed"

%h1 Reset password
%p 
  Are you sure you want to reset 
  = @member.name
  's password? This action will create a new password for the member which will be sent via the supplied email. Also, the member will be activated.
%table.form
  %tr
    %td= button_to "Yes", send_email_member_path(@member)
    %td
      or
      = link_to 'Cancel', members_path