<p>
  Are you sure you want to reset <%= @member.name %>'s password?
</p>
<p>
<table>
  <tr>
    <td><%= button_to "Yes", send_email_path(@member.id) %></td>
    <td><%= link_to "Cancel", members_path %></td>
  </tr>
</table>
</p>